<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <header>
        <div class="nav">
            <ul>
                <li class="map"><a href="Map.html">Map</a></li>
                <li class="mission"><a href="Mission.html">Mission</a></li>
                <li class="characters"><a href="Character.html">Characters</a></li>
                <li class="store"><a href="Store.html">Store</a></li>
            </ul>
        </div>
        <div class="cir">
            <img src="img/Ellipse 7.png" alt="">
            <c1>P'Poo</c1>
            <c2>Level : 1</c2>
        </div>
    </header>
    <div>
        <img src="img/Sev_Background_black.png" alt="">
        <!--อันนี้ใส่php-->
    </div>

</body>
</html>